label {
	display: block;
  	font-family: var(--font-family);
	padding: 0.5rem 0 0.1rem;
}

h2 {
	padding: 1rem 0 0.1rem;
}

button {
	margin-top: 0.5rem;
}

footer {
	background-color: #7010B0;
    color: white;
    text-align: center;
    padding: 0.25rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
}

footer a {
	color: #F0E68C;
	text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}

footer p {
	margin: 0.25rem 0;
}

.evaluation {
	border : 2px solid black;
	padding: 10px;
	margin: 15px 0;
	border-radius: 8px; 
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.evaluation h3 {
	margin-top: 0;
}

.evaluation p {
	margin: 0.25rem 0;
}

.evaluation-feedback {
	font-style: italic;
	font-size: 1.1rem;            
    color: #333;                   
    background-color: #f0f0ff;     
    padding: 10px;                 
    border-left: 4px solid #7010B0; 
    margin: 10px 0;
	overflow-wrap: break-word;
}